doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Newkart
        div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
          ul.nav.navbar-nav.navbar-right
            if (!user)
              li
                a(href='http://localhost:3000/newkart/login/screen') Login
              li
                a(href='http://localhost:3000/newkart/signup/customer') Register as Customer
              li
                a(href='http://localhost:3000/newkart/signup/seller') Register as Seller


            if (user)
              li
                a Welcome #{user}
              li
                a(href='http://localhost:3000/newkart/dashboard') Dashboard
              li
                a(href='/newkart/logout') Logout

    .container
       div.content
         block content
           p
             | This is an e-coomerce platform built
             | using Node js,Express,Jade(pug),MongoDB
           p  
             | please press dashboard to continue.
       
       if messages.error
        .alert.alert-danger
          div= messages.error
      if messages.info
        .alert.alert-info
          div= messages.info
      if messages.success
        .alert.alert-success
          div= messages.success


    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')